subjects:
  oge-inf:                                   # свой subject_key из WP
    ou_dn:    "OU=ОГЭ,OU=Ученики,OU=Пользователи,OU=LocalOffice,DC=fs,DC=loc"
    group_dn: "CN=KOGE,OU=ОГЭ,OU=Ученики,OU=Пользователи,OU=LocalOffice,DC=fs,DC=loc"
